<!DOCTYPE html>
<html lang="ja">
	<head>
		<% let suffix = "" %>
		<% if (mediaType == "youtube") { %>
			<% suffix = " for YouTube" ; %>
		<% } else if (mediaType == "file") { %>
			<% suffix = " for ファイル" ; %>
		<% } %>

		<%- include('../../parts/head', {title: '字幕エディター' + suffix}) %>
		<meta property="og:site_name" content="字幕エディター<%= suffix %>"/>
		<meta property="og:url" content="<%= rootURL %>"/>
		<meta property="og:title" content="字幕エディター<%= suffix %>"/>
		<meta property="og:type" content="Website" />
		<meta property="og:description" content=""/>

		<script type="text/javascript" src="/javascripts/shortcut.js"></script>
		<script type="text/javascript" src="/javascripts/functions.js"></script>
		<script type="text/javascript" src="/javascripts/speech_recognition.js"></script>
		
		<script type="text/javascript" src="/javascripts/ffmpeg.min.js"></script>

		<script type="text/javascript" src="/javascripts/generate_srt_data.js"></script>

		<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
		
		<style>

			html,
			body
			{
				height: 100%;
				background-color:ghostwhite;
			}

			.box {
				height: 500px;
				overflow:hidden;	
				overflow-y:scroll;
				padding:10px;
				border-color: darkgrey;
				border-radius: 5px;
			}

			textarea {
				border-color: darkgrey;
				border-radius: 5px;
			}

			.time {
				font-family:monospace;
			}

			.cmn-btn {
				width: 120px;
			}

			.op-btn {
				width: 80px;
			}

			.wide-btn {
				width: 200px;
			}

		</style>
	</head>
	<body>
		<div class="container">
			<div class="row my-3">
				<div class="col-auto">
					<a href="/">トップに戻る</a>
				</div>
				<div class="col-auto">
					<% if (mediaType == "youtube") { %>
						<a href="/jimakueditor4file">字幕エディター for ファイルへ</a>
					<% } else if (mediaType == "file") { %>
						<a href="/jimakueditor">字幕エディター for YouTubeへ</a>
					<% } %>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					<div class="row">
						<div class="col-md mb-3">
							<h3>字幕エディター<%= suffix %></h3>
						</div>
					</div>

					<div class="accordion" id="accordionMainMenu">
						<div class="accordion-item">
							<h2 class="accordion-header" id="mainMenu-menu1-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu-menu1" aria-expanded="true" aria-controls="mainMenu-menu1">
									操作メニュー（クリックして表示／非表示）
								</button>
						  	</h2>
							<div id="mainMenu-menu1" class="accordion-collapse collapse show" aria-labelledby="mainMenu-menu1">
								<div class="accordion-body">
									<div class="row p-3">
										<div class="col-md">
											<div class="mb-3">
												<div class="row">
													<div class="col-auto mb-1">
														<div class="form-label">①ファイルを読み込み</div>
													</div>
												</div>

												<% if (mediaType == "youtube") { %>
													<div class="row">	
														<div class="col mb-1">		
															<div class="input-group">	
																<input id="videoURL" name="videoURL" type="text" class="form-control" value="" placeholder="YouTubeのURLをペーストして読み込みボタンを押してください" aria-label="">
																<button class="btn btn-outline-secondary" type="button" id="videoLoadButton">読み込み</button>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col mb-1">
															<div class="small ms-3">YouTubeのURLをペーストして読み込んでください。</div>
															<div class="small ms-3">画面をスクロールするか操作メニューをクリックして非表示にすると読み込まれた動画を確認できます。</div>
															<div class="small ms-3">ローカルのファイルを読み込んで使用したい時は<a href="/jimakueditor4file">字幕エディター for ファイル</a>をご利用ください。AmiVoice Cloud Platformの声認識APIを使用してファイルから音声認識の結果を作成することができます。</div>
														</div>
													</div>
												<% } else if (mediaType == "file") { %>
													<div class="row">	
														<div class="col mb-1">		
															<div class="input-group">
																<input class="form-control" id="mediaFile" type="file" accept="audio/*,video/*,"/>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col mb-1">
															<div class="small ms-3">ローカルに保存された動画または音声ファイルを読み込んでください。</div>
															<div class="small ms-3">動画または音声ファイルを読み込む時にボタンに「アップロード」と表示されますがアップロードをするわけではありません。</div>
															<div class="small ms-3">画面をスクロールするか操作メニューをクリックして非表示にすると読み込まれた動画を確認できます。</div>
															<div class="small ms-3">YouTubeの動画を再生しながら使用したい時は<a href="/jimakueditor">字幕エディター for YouTube</a>をご利用ください。</div>
														</div>
													</div>
												<% } %>
											</div>

											<div class="mb-3">
												<div class="row">
													<div class="col-auto mb-1">
														<div class="form-label">②UDトークの会話ログ（.csv）または字幕ファイル（.srt）を読み込み</div>
													</div>
												</div>
												<div class="row">
													<div class="col-auto mb-1">
														<input class="btn btn-primary btn-sm cmn-btn" id="loadSubtitleButton" type="button" value="ファイルを選択" name="loadSubtitleButton" />
														<input class="form-control" id="subtitleFile" type="file" accept=".csv,.srt" style="display:none;"/>
													</div>
												</div>

												<div class="row">
													<div class="col mb-1">
														<div class="small ms-3">画面をスクロールするか操作メニューをクリックして非表示にすると読み込まれた内容を確認できます。</div>

														<% if (mediaType == "file") { %>
															<div class="small ms-3">このデータは「音声認識結果を取得する」で作成することもできます。</div>
														<% } %>
													</div>
												</div>
											</div>

											<div class="mb-3">
												<div class="row">
													<div class="col-auto mb-1">
														<div class="form-label">③読み込み後の調整</div>
													</div>
												</div>
												<div class="row">	
													<div class="col-auto mb-1">			
														<div class="input-group">		
															<label for="offsetTimeLength" class="me-3 col-form-label"><span class="small ms-3">字幕の開始時間の調整（秒）</span></label>	
															<input id="offsetTimeLength" name="offsetTimeLength" type="text" class="form-control" value="0" placeholder="" aria-label="" style="text-align: right;">
															<button class="btn btn-outline-primary" type="button" id="offsetTimeLengthUpdateButton">更新</button>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col mb-1">
														<div class="small ms-3">字幕データ全体を指定の時間だけ前後に移動して調整します。マイナスの時間を設定すると0秒以前の字幕は非表示となります。</div>
														<div class="small ms-3">時間は小数点以下を含む秒で指定をしてください。例えば動画内で最初の字幕が00:00:16.128から始まっているときは16.128を入力して更新ボタンを押します。</div>
														<div class="small ms-3">最初の字幕で調整が難しい時は途中の字幕で時間の調整をしてみてください。</div>
													</div>
												</div>
											</div>

											<div class="mb-3">
												<div class="row">
													<div class="col-auto mb-1">
														<div class="form-label">④作業中のデータの保存</div>
													</div>
												</div>
				
												<div class="row">
													<div class="col-auto mb-1">											
														<input class="btn btn-primary btn-sm cmn-btn" id="saveAppDataButton" type="button" value="データを保存" name="saveAppDataButton" />
													</div>
													<div class="col mb-1">
														<input id="appDataFileName" name="appDataFileName" type="text" class="form-control btn-sm" value="" placeholder="ファイル名" aria-label="">
													</div>
												</div>

												<div class="row">
													<div class="col mb-1">
														<div class="small ms-3">保存先に同じファイル名がある場合はブラウザが自動的にリネームをして保存します。</div>
														<div class="small ms-3">ローカルに保存された動画または音声ファイルパスは保存されません。編集するたびに都度読み込んでください。</div>
													</div>
												</div>
											</div>

											<div class="mb-3">
												<div class="row">
													<div class="col-auto mb-1">
														<div class="form-label">⑤作業中のデータの読み込み</div>
													</div>
												</div>

												<div class="row">
													<div class="col-auto mb-1">
														<input class="btn btn-primary btn-sm cmn-btn" id="loadAppDataButton" type="button" value="ファイルを選択" name="loadAppDataButton" />
														<input class="form-control" id="appDataFile" type="file" accept=".captionEditor, .jimakuEditor" style="display:none;"/>	
													</div>
												</div>

												<div class="row">
													<div class="col mb-1">
														<div class="small ms-3">保存した作業中のデータを読み込んで続きを行うことができます。</div>
													</div>
												</div>
											</div>
				
											<div class="mb-3">
												<div class="row">
													<div class="col-auto mb-1">
														<div class="form-label">⑥編集したデータエクスポート</div>
													</div>
												</div>
					
												<div class="row">
													<div class="col-auto mb-1">		
														<input class="btn btn-primary btn-sm wide-btn" id="saveAsCsvButton" type="button" value="CSVファイル（.csv）で保存" name="saveAsCsvButton" />
													</div>
													<div class="col-auto mb-1">	
														<input class="btn btn-primary btn-sm wide-btn" id="saveAsTextButton" type="button" value="テキスト（.txt）で保存" name="saveAsTextButton" />
													</div>
													<div class="col-auto mb-1">	
														<input class="btn btn-primary btn-sm wide-btn" id="saveAsSrtButton" type="button" value="字幕ファイル（.srt）で保存" name="saveAsSrtButton" />
														<div id="toExportSrtSpinner"></div>
													</div>
												</div>

												<div class="row">
													<div class="col-auto mb-1">
														<div class="small ms-3">もっと詳細な設定で字幕ファイル（.srt）を作成したいときはCSVファイルで保存した後に<a href="https://jimakudata.udtalk.jp" target="_blank" rel=”noopener”>字幕データ変換くん</a>で作成してください。</div>
													</div>
												</div>
											</div>

										</div>
									</div>	
								</div>				
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="mainMenu-menu2-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu-menu2" aria-expanded="false" aria-controls="mainMenu-menu2">
								ショートカット一覧（クリックして表示／非表示）
							  	</button>
							</h2>
							<div id="mainMenu-menu2" class="accordion-collapse collapse" aria-labelledby="mainMenu-menu2">
							  	<div class="accordion-body">
									<div class="row">
										<div class="col-md">
											<div class="card">
												<div class="card-body">
													<strong class="card-title">編集時のショートカットキー</strong>
													<div class="ms-3">
														<div class="row"><div class="col">⌘またはCtrl + ↓</div><div class="col">再生／停止</div></div>
														<div class="row"><div class="col">⌘またはCtrl + ←</div><div class="col">指定秒戻す</div></div>
														<div class="row"><div class="col">⌘またはCtrl + →</div><div class="col">指定秒送る</div></div>
														<div class="row"><div class="col">Enter</div><div class="col">次の字幕データへ移動</div></div>
													</div>
												</div>
											</div>		
										</div>
										<div class="col-md">
											<div class="row">
												<div class="col p-1">
													<div class="input-group">
														<label for="shortcutWord1" class="me-3 col-form-label"><span class="small ms-3">F1</span></label>
														<input id="shortcutWord1" name="shortcutWord1" type="text" class="form-control" value="" placeholder="" aria-label="">
													</div>
												</div>
												<div class="col p-1">
													<div class="input-group">
														<label for="shortcutWord2" class="me-3 col-form-label"><span class="small ms-3">F2</span></label>
														<input id="shortcutWord2" name="shortcutWord2" type="text" class="form-control" value="" placeholder="" aria-label="">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col p-1">
													<div class="input-group">
														<label for="shortcutWord3" class="me-3 col-form-label"><span class="small ms-3">F3</span></label>
														<input id="shortcutWord3" name="shortcutWord3" type="text" class="form-control" value="" placeholder="" aria-label="">
													</div>
												</div>
												<div class="col p-1">
													<div class="input-group">
														<label for="shortcutWord4" class="me-3 col-form-label"><span class="small ms-3">F4</span></label>
														<input id="shortcutWord4" name="shortcutWord4" type="text" class="form-control" value="" placeholder="" aria-label="">
													</div>
												</div>
											</div><div class="row">
												<div class="col p-1">
													<div class="input-group">
														<label for="shortcutWord5" class="me-3 col-form-label"><span class="small ms-3">F5</span></label>
														<input id="shortcutWord5" name="shortcutWord5" type="text" class="form-control" value="" placeholder="" aria-label="">
													</div>
												</div>
												<div class="col p-1">
													<div class="input-group">
														<label for="shortcutWord6" class="me-3 col-form-label"><span class="small ms-3">F6</span></label>
														<input id="shortcutWord6" name="shortcutWord6" type="text" class="form-control" value="" placeholder="" aria-label="">
													</div>
												</div>
											</div>
										</div>
									</div>
							  	</div>
							</div>
						</div>
					</div>	
				</div>
			</div>

			<hr />

			<div id="audio"></div>

			<div class="row mb-3">	
				<div class="col-md mb-5">		
					<div class="row mb-3">
						<div class="col">
							<div class="mb-3 fw-bold" id="videoTitle"></div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col text-center">
							<div>
								<div class="border mb-3" id="onlineVideoPreview" style="display:none;"></div>
							</div>
							<div>
								<video id="localVideoPreview" width="480px" style="display:none;" controls><p>ご使用のブラウザでは動画再生に対応していません</p></video>
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" id="rwButton" class="btn btn-sm px-3 btn-primary"><i class="fas fa-fast-backward"></i></button>
								<button type="button" id="playButton" class="btn btn-sm px-3 btn-primary"><i class="fas fa-play"></i></button>
								<button type="button" id="pauseButton" class="btn btn-sm px-3 btn-primary"><i class="fas fa-pause"></i></button>
								<button type="button" id="ffButton" class="btn btn-sm px-3 btn-primary"><i class="fas fa-fast-forward"></i></button>
							</div>
						</div>
						<div class="col-auto">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" id="slowSpeedButton" class="btn btn-sm btn-secondary">x 0.7</button>
								<button type="button" id="normalSpeedButton" class="btn btn-sm btn-secondary">x 1.0</button>
								<button type="button" id="fastSpeedButton" class="btn btn-sm btn-secondary">x 1.5</button>
								<button type="button" id="fastestSpeedButton" class="btn btn-sm btn-secondary">x 2.0</button>
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col text-center">
							<div class="fs-4 time" id="videoTime">00:00:00.000</div>
						</div>
					</div>

					<div class="row">
						<div class="col-auto mb-3 text-center">
							<input class="btn btn-success btn-sm wide-btn" id="jumpToSubtitleButton" type="button" value="この時間の字幕を表示" name="jumpToSubtitleButton" />
						</div>
						<div class="col-auto mb-3 text-center">
							<input class="btn btn-success btn-sm wide-btn" id="jumpToLastEditedButton" type="button" value="編集済みの末尾を表示" name="jumpToLastEditedButton" />
						</div>
					</div>

					<div class="accordion mb-3" id="accordionSettings">
						<div class="accordion-item">
						  	<h2 class="accordion-header" id="settings-menu1-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings-menu1" aria-expanded="true" aria-controls="settings-menu1">
									動作設定（クリックして表示／非表示）
								</button>
						  	</h2>
						  	<div id="settings-menu1" class="accordion-collapse collapse" aria-labelledby="settings-menu1">
								<div class="accordion-body">
									<div class="row mb-3">
										<div class="col">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="autoStopWhenEdtingStarted" name="autoStopWhenEdtingStarted" value="" checked>
												<label class="form-check-label" for="autoStopWhenEdtingStarted">編集開始時に自動的に再生を停止する</label>
												<div class="small ms-3">文字が入力されたタイミングで再生を停止します。文字の削除とショートカットキーによる入力では停止しません。</div>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="autoPlayWhenEdtingFinished" name="autoPlayWhenEdtingFinished" value="" checked>
												<label class="form-check-label" for="autoPlayWhenEdtingFinished">編集を完了（エンターキー押下）で自動的に再生を開始する</label>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col">
											<label for="seekingSeconds" class="me-3 col-form-label">早戻しと早送りの間隔（秒）</label>
										</div>
										<div class="col">				
											<input id="seekingSeconds" name="seekingSeconds" type="text" class="form-control" value="5" placeholder="" aria-label="" style="text-align: right;">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col">
											<label for="playbackSeconds" class="me-3 col-form-label">再生を開時に戻す間隔（秒）</label>	
										</div>
										<div class="col">	
											<input id="playbackSeconds" name="playbackSeconds" type="text" class="form-control" value="2" placeholder="" aria-label="" style="text-align: right;">
										</div>
									</div>
								</div>
						  	</div>
						</div>
					</div>
				
					<% if (mediaType == "file") { %>
					<div class="row mb-3">
						<div class="col-auto">
							<button class="btn btn-primary btn-sm wide-btn" id="speechRecognitionButton" type="button" value="" name="speechRecognitionButton">音声認識結果を取得</button>
							<div id="toRunSpeechRecognitionSpinner"></div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-auto">
							<div class="small">音声認識処理中はこの画面を完全に見えない状態にしないでください。ブラウザによっては処理が止まってしまいます（現在対応中です）。</div>
						</div>
					</div>

					<div class="accordion" id="accordionSettings">
						<div class="accordion-item">
							<h2 class="accordion-header" id="settings-menu2-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings-menu2" aria-expanded="false" aria-controls="settings-menu2">
									音声認識設定（クリックして表示／非表示）
								</button>
							</h2>
							<div id="settings-menu2" class="accordion-collapse collapse" aria-labelledby="settings-menu2">
								<div class="accordion-body">
									<div class="row small mb-3">
										<div class="col">
											<div class="mb-3"><a href="https://acp.amivoice.com/main/" target="_blank" rel=”noopener”>AmiVoice Cloud Platform</a>の音声認識APIを使用して音声認識の結果を取得します。</div>
											<div class="mb-3">
												<div>読み込んだ動画または音声ファイルに対して音声認識処理を行いテキスト化します。動画の場合はブラウザ上で音声を抽出しサーバーにアップロードします。</div>
												<div>音声認識APIのご利用は有料となります（※毎月60分無料枠があるのでお試しいただけます）</div>
											</div>
											<div class="mb-3">①AmiVoice Cloud Platformのページを開き「無料で利用開始」をクリックしログインしてください。既にご利用の方はマイページを開きます。</div>
											<div class="mb-3">②左のメニューの「接続情報」をクリックし「APPKEY」に表示されている文字列をコピーします。このAPPKEYはとても重要な情報なので取り扱いにはご注意ください。</div>
											<div class="mb-3">③「字幕エディター」に戻り「音声認識設定」の「APPKEY」にペーストします。APPKEYをブラウザに保存しておきたいときは「APPKEYをブラウザに保存する」にチェックを入れてください。</div>
											<div class="mb-3">④AmiVoice Cloud Platformのご利用内容に応じて「接続エンジン名」の設定を変更できます。初期値は「会話_汎用」が設定されています。</div>
											<div class="mb-3">⑤音声認識サーバーで「ログ保存あり」または「ログ保存なし」を選択します。内容の機密性に応じて選択してご利用ください。</div>
											<div class="mb-3">⑥「音声認識結果を取得」ボタンを押します。ファイルの長さによっては時間はかかりますが、ページを閉じないでしばらくお待ちください。音声認識が完了すると右側に認識結果が表示されます。</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col">
											<div>APPKEY</div>
											<input id="acpAppKey" name="acpAppKey" type="password" class="form-control" value="" placeholder="" autocomplete="off" aria-label="">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="saveAppKey" name="saveAppKey" value="" checked>
												<label class="form-check-label" for="saveAppKey">APPKEYをブラウザに保存する</label>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col">
											<div>サービスID</div>
											<input id="acpProfileId" name="acpProfileId" type="text" class="form-control" value="" placeholder="" aria-label="">
											<div class="small ms-3">サービスIDを指定するとAmiVoice Cloud Platform上での単語登録が有効になります。</div>
										</div>
									</div>		
									<div class="row mb-3">
										<div class="col">
											<div>接続エンジン名</div>
											<input id="acpGrammarFileNames" name="acpGrammarFileNames" type="text" class="form-control" value="-a-general" placeholder="" aria-label="">
											<div class="small ms-3">音声認識エンジンはAmiVoice Cloud Platformのマイページ内の「プラン申込」で行うことができます。価格もそちらでご確認ください。</div>
										</div>
									</div>		
									<div class="row mb-3">
										<div class="col-sm">
											<div>音声認識API</div>
											<select class="form-select" id="acpLoggingOptOut" name="acpLoggingOptOut" aria-label="音声認識API">
												<option value="0" selected>ログ保存あり</option>
												<option value="1">ログ保存なし</option>
											</select>
											<div class="small ms-3">ログ保存ありとなしで価格が異なります。詳しくはAmiVoice Cloud Platformのマイページ内でご確認ください。</div>
										</div>
									</div>		
								</div>
							</div>
						</div>
					</div>
					<% } %>
				</div>

				<div class="col-md mb-5">
					<div class="row">
						<div class="col">
							<div class="box border">
								<table class="table" id="subtitles">

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="mb-3 small" style="text-align: center;">
					Copyright © <a href="https://udtalk.jp">UDトーク</a>. All Rights Reserved.
				</div>
			</div>
			
		</div>
		
		<script>
			let ytPlayer = null ;
			let localPlayer = null ;
			let lines = [] ;
			let details = [] ;
			let mediafile = null ;

			$(function () {
				restoreSettings() ;

				function eventListener(e) {
					storeSettings()
				} ;

				$("#autoStopWhenEdtingStarted").on('change', eventListener) ;
				$("#autoPlayWhenEdtingFinished").on('change', eventListener) ;
				$("#seekingSeconds").on('change', eventListener) ;
				$("#playbackSeconds").on('change', eventListener) ;
				$("#saveAppKey").on('change', eventListener) ;
				$("#acpGrammarFileNames").on('input', eventListener) ;
				$("#acpProfileId").on('input', eventListener) ;
				$("#acpAppKey").on('input', eventListener) ;
				$("#acpLoggingOptOut").on('change', eventListener) ;

				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
				
				$(window).on('beforeunload', function(e) {
					e.preventDefault();
    				e.returnValue = 'Check';

					return "" ;
				});

				$(window).keydown(function(e){
					if (e.originalEvent.code == "F1" ||
						e.originalEvent.code == "F2" ||
						e.originalEvent.code == "F3" ||
						e.originalEvent.code == "F4" ||
						e.originalEvent.code == "F5" ||
						e.originalEvent.code == "F6") {
						return false ;
					}
				}) ;

				$("#videoLoadButton").on("click", (e) => {
					if (localPlayer != null) {
						localPlayer.src = null ;
						localPlayer = null ;
						mediafile = null ;
						$("#localVideoPreview").css("display", "none") ;	
					}

					$("#mediaFile").val("") ;

					let videoURL = $("#videoURL").val() ;	
					
					loadOnlineVideo(videoURL) ;
				}) ;

				$("#mediaFile").on('change', (e) => {
					if (ytPlayer != null) {
						ytPlayer.destroy() ;
						ytPlayer = null ;
						$("#onlineVideoPreview").css("display", "none") ;	
					}

					$("#videoURL").val("") ;

					mediafile = e.target.files[0]

					loadLocalVideo(mediafile) ;
				}) ;

				$("#loadSubtitleButton").on("click", (e) => {
					if (lines.length != 0) {
						if (window.confirm("現在読み込んでいる内容を上書きします。よろしいですか？")) {
							$("#subtitleFile").click() ;
						}
					} else {
						$("#subtitleFile").click() ;
					}
				}) ;

				$("#subtitleFile").on('change', (e) => {
					let fileList = $('#subtitleFile').get(0).files;
					let result = fileList[0];

					let reader = new FileReader() ;
					let fileName = result.name.split('.')[0] + ".csv" ;

					reader.readAsText(result) ;

					reader.addEventListener('load', function() {
						let content = reader.result ;
						
						let srtElements = loadSrtFile(content) ;

						if (srtElements.length != 0) {
							// SRT File
							lines = [] ;
							details = [] ;

							for (let key in srtElements) {
								let srt = srtElements[key] ;

								let line = [] ;

								line.push(srt.time.start) ;
								line.push(srt.time.end) ;
								line.push(srt.text.replaceAll("\r\n", "\n").replaceAll("\n", "")) ;

								lines.push(line) ;
								details.push({}) ;
							}

							console.log(lines); 
						} else {
							// CSV File
							lines = convertToArray(content) ;

							details = [] ;

							let isFirstLine = true ;

							let relativeStartTime = 0 ;

							for (let i=0; i<lines.length; i++) {
								let line = lines[i] ;
								let nextLine = []
								
								if (i < lines.length - 1) {
									nextLine = lines[i+1] ;
								}

								line[0] = ParseToDate(line[0]) / 1000 ;

								if (line[1] == "") {
									if (nextLine.length != 0) {
										line[1] = ParseToDate(nextLine[0]) / 1000 ;
									} else {
										line[1] = line[0] + 1 ;
									}
								} else {
									line[1] = ParseToDate(line[1]) / 1000 ;
								}

								if (isFirstLine) {
									relativeStartTime = line[0] ;
									isFirstLine = false ;
								}
						
								line[0] -= relativeStartTime ;
								line[1] -= relativeStartTime ;

								details.push({}) ;
							}
						}

						updateSubtitleData() ;
					}) ;

					$("#subtitleFile").val("") ;
				})

				$("#jumpToSubtitleButton").on("click", (e) => {
					let offsetTime = Number($("#offsetTimeLength").val()) ;
					let currentTime = playingGetCurrentTime() ;

					for (let key in lines) {
						let line = lines[key] ;
						let startTime = line[0] + offsetTime ;

						if (startTime > currentTime) {
							$("#text" + key)[0].scrollIntoView(true) ;
							updatePlayingTime(currentTime) ;
							break ;
						}
					}
				}) ;
				
				$("#jumpToLastEditedButton").on("click", (e) => {
					
					commitAppData() ;

					for (let i=details.length; i>0; i--) {
						let detail = details[i-1] ;

						if (detail["edited"] != undefined && detail["edited"]) {
							$("#text" + (i-1))[0].scrollIntoView(true) ;

							let offsetTime = Number($("#offsetTimeLength").val()) ;

							let line = lines[(i-1)] ;
							let startTime = line[0] + offsetTime ;

							updatePlayingTime(startTime) ;

							seekToVideo(startTime, false) ;

							break ;
						}
					}
				}) ;

				$("#speechRecognitionButton").on("click", async (e) => {
					// Speech Recognition by AmiVoice Cloud Platform
					await runSpeechRecognition() ;
				}) ;

				$("#offsetTimeLengthUpdateButton").on("click", (e) => {
					updateSubtitleData() ;
				}) ;

				// Export
				$("#saveAsCsvButton").on("click", (e) => {
					let offsetTime = Number($("#offsetTimeLength").val()) ;
					let content = "00:00:00,00:00:00,\r\n" ;

					for (let key in lines) {
						let line = lines[key] ;
						
						if (line[0] + offsetTime < 0) {
							continue ;
						}

						let textClassName = "#text" + Number(key) ;

						line[2] = $(textClassName).val() ;

						if (line[2] == "") {
							continue ;
						}

						let startTime = secToTime(line[0] + offsetTime, ".") ;
						let endTime = secToTime(line[1] + offsetTime, ".") ;
						
						content += startTime + "," + endTime ;
						
						for (let i=2; i<line.length; i++) {
							content += ",\"" + line[i] + "\"" ;
						}

						content += "\r\n" ;
					}

					let fileName = $("#appDataFileName").val() ;

					fileName = fileName.replaceAll(".captionEditor", "") ;
					fileName = fileName.replaceAll(".jimakuEditor", "") ;
					fileName += ".csv" ;

					saveAsFile(content , fileName) ;
				}) ;

				$("#saveAsTextButton").on("click", (e) => {
					let content = "" ;

					for (let key in lines) {
						let line = lines[key] ;
						
						let textClassName = "#text" + Number(key) ;

						line[2] = $(textClassName).val() ;

						if (line[2] == "") {
							continue ;
						}
						
						content += line[2] ;

						if (content.endsWith("。")) {
							content += "\r\n" ;
						}
					}

					let fileName = $("#appDataFileName").val() ;

					fileName = fileName.replaceAll(".captionEditor", "") ;
					fileName = fileName.replaceAll(".jimakuEditor", "") ;
					fileName += ".txt" ;
					
					saveAsFile(content, fileName) ;
				}) ;

				let isExportingSrt = false ;

				$("#saveAsSrtButton").on("click", async (e) => {
					if (isExportingSrt) {
						return ;
					}

					isExportingSrt = true ;

					let spinner = '<div class="d-flex justify-content-center"><div class="spinner-border text-secondary my-3" role="status"><span class="visually-hidden">Loading...</span></div></div>' ;
				
					$("#toExportSrtSpinner").empty() ;
					$("#toExportSrtSpinner").append(spinner) ;

					let offsetTime = Number($("#offsetTimeLength").val()) ;
					let copiedLines = [] ;

					for (let key in lines) {
						let line = lines[key] ;
						
						if (line[0] + offsetTime < 0) {
							continue ;
						}

						let textClassName = "#text" + Number(key) ;

						line[2] = $(textClassName).val() ;

						if (line[2] == "") {
							continue ;
						}

						let startTime = line[0] + offsetTime ;
						let endTime = line[1] + offsetTime ;

						let element = {} ;

						element["startTime"] = startTime ;
						element["endTime"] = endTime ;
						element["content"] = line[2] ;

						copiedLines.push(element) ;
					}

					let content = await generateSrtData(copiedLines) ;

					let fileName = $("#appDataFileName").val() ;

					fileName = fileName.replaceAll(".captionEditor", "") ;
					fileName = fileName.replaceAll(".jimakuEditor", "") ;
					fileName += "ja_JP.srt" ;

					$("#toExportSrtSpinner").empty() ;

					saveAsFile(content, fileName) ;

					isExportingSrt = false ;
				}) ;

				$("#ffButton").on("click", (e) => {
					playingFastForword(Number($("#seekingSeconds").val())) ;
				}) ;

				$("#playButton").on("click", (e) => {
					playVideo() ;
				}) ;

				$("#pauseButton").on("click", (e) => {
					pauseVideo() ;
				}) ;

				$("#rwButton").on("click", (e) => {
					playingRewind(Number($("#seekingSeconds").val())) ;
				}) ;

				$("#slowSpeedButton").on("click", (e) => {
					setPlaybackRate(0.7) ;
				}) ;

				$("#normalSpeedButton").on("click", (e) => {
					setPlaybackRate(1.0) ;
				}) ;

				$("#fastSpeedButton").on("click", (e) => {
					setPlaybackRate(1.5) ;
				}) ;

				$("#fastestSpeedButton").on("click", (e) => {
					setPlaybackRate(2.0) ;
				}) ;

				function commitAppData() {
					for (let i=0; i<lines.length; i++) {
						let textClassName = "#text" + Number(i) ;
						let alreadyEditedCheckBoxClassName = "#alreadyEditedCheckBox" + Number(i) ;

						lines[i][2] = $(textClassName).val();
						details[i]["edited"] = $(alreadyEditedCheckBoxClassName).prop("checked") ;
					}
				}

				// AppData save&load
				$("#saveAppDataButton").on("click", (e) => {
					let fileName = $("#appDataFileName").val() ;
					
					if (fileName == undefined || fileName == null || fileName == "") {
						alert("ファイル名を入力してください。") ;
						return ;
					}

					let appData = {} ;

					commitAppData() ;
					
					if ($("#videoURL").val() != undefined) {
						appData["videoURL"] = $("#videoURL").val() ;
					}

					appData["lines"] = lines ;
					appData["details"] = details ;
					appData["offsetTimeLength"] = $("#offsetTimeLength").val() ;
					appData["appDataFileName"] = $("#appDataFileName").val() ;
					
					let shortcutWords = {} ;

					shortcutWords["shortcutWord1"] = $("#shortcutWord1").val() ;
					shortcutWords["shortcutWord2"] = $("#shortcutWord2").val() ;
					shortcutWords["shortcutWord3"] = $("#shortcutWord3").val() ;
					shortcutWords["shortcutWord4"] = $("#shortcutWord4").val() ;
					shortcutWords["shortcutWord5"] = $("#shortcutWord5").val() ;
					shortcutWords["shortcutWord6"] = $("#shortcutWord6").val() ;

					appData["shortcutWords"] = shortcutWords ;

					saveAsFile(JSON.stringify(appData) , fileName) ;
				}) ;

				$("#loadAppDataButton").on("click", (e) => {
					if (lines.length != 0) {
						if (window.confirm("現在作業中のデータがあります。よろしいですか？")) {
							$("#appDataFile").click() ;
						}
					} else {
						$("#appDataFile").click() ;
					}
				}) ;

				$("#appDataFile").on('change', (e) => {
					let fileList = $('#appDataFile').get(0).files;
					let result = fileList[0];
					let reader = new FileReader() ;

					reader.readAsText(result) ;

					reader.addEventListener('load', function() {
						let content = reader.result ;
						let appData = JSON.parse(content) ;

						let videoURL = "" ;
						
						if (appData["videoURL"] != undefined) {
							videoURL = appData["videoURL"] ;
						}

						lines = appData["lines"] ;
						details= appData["details"] ;

						if (details == undefined) {
							details = [] ;

							for (let key in lines) {
								details.push({}) ;
							}
						}

						let offsetTimeLength = appData["offsetTimeLength"] ;
						let shortcutWords = appData["shortcutWords"] ;
						let appDataFileName = appData["appDataFileName"] ;

						$("#offsetTimeLength").val(offsetTimeLength) ;
						$("#videoURL").val(videoURL) ;
						$("#appDataFileName").val(appDataFileName) ;

						if (shortcutWords != undefined) {
							$("#shortcutWord1").val(shortcutWords["shortcutWord1"]) ;
							$("#shortcutWord2").val(shortcutWords["shortcutWord2"]) ;
							$("#shortcutWord3").val(shortcutWords["shortcutWord3"]) ;
							$("#shortcutWord4").val(shortcutWords["shortcutWord4"]) ;
							$("#shortcutWord5").val(shortcutWords["shortcutWord5"]) ;
							$("#shortcutWord6").val(shortcutWords["shortcutWord6"]) ;
						}

						let mediaType = "<%= mediaType %>" ;

						if (mediaType == "youtube") {
							if (videoURL != "") {
								loadOnlineVideo(videoURL) ;
							}
						}

						updateSubtitleData() ;
					}) ;
				}) ;

				setupShortcuts() ;
			}) ;

			// Update Subtitls
			function updateSubtitleData() {
				let offsetTime = Number($("#offsetTimeLength").val()) ;

				$("#subtitles").empty() ;

				for (let i=0; i<lines.length; i++) {
					let line = lines[i] ;
					let detail = details[i] ;

					let startTime = line[0] ;

					if (startTime + offsetTime < 0) {
						continue ;
					}

					$("#subtitles").append(subtitleBlock(i, line, detail, offsetTime)) ;

					let textClassName = "#text" + Number(i) ;
					let nextTextClassName = "#text" + (Number(i) + 1) ;
					let alreadyEditedCheckBoxClassName = "#alreadyEditedCheckBox" + Number(i) ;

					$(textClassName).height(30);
					$(textClassName).css("lineHeight","20px");
					$(textClassName).on("keydown", function(e) {
						if (e.keyCode == 13) {
							let autoPlayWhenEdtingFinished = $("#autoPlayWhenEdtingFinished").prop("checked") ;

							if (!isPlayingVideo() && autoPlayWhenEdtingFinished) {
								
								playingRewind(Number($("#playbackSeconds").val())) ;
								playVideo() ;
							} else {
								$(alreadyEditedCheckBoxClassName).prop("checked", true) ;
								$(nextTextClassName).focus() ;
							}

							return false ;
						} else {
							let shortcutClassName = "" ;

							if (e.originalEvent.code == "F1") {
								shortcutClassName = "#shortcutWord1" ;
							} else if (e.originalEvent.code == "F2") {
								shortcutClassName = "#shortcutWord2" ;
							} else if (e.originalEvent.code == "F3") {
								shortcutClassName = "#shortcutWord3" ;
							} else if (e.originalEvent.code == "F4") {
								shortcutClassName = "#shortcutWord4" ;
							} else if (e.originalEvent.code == "F5") {
								shortcutClassName = "#shortcutWord5" ;
							} else if (e.originalEvent.code == "F6") {
								shortcutClassName = "#shortcutWord6" ;
							}
							
							if (shortcutClassName != "") {
								
								let text = $(textClassName).val() ;
								let selectionStart = $(textClassName)[0].selectionStart ;
								let selectionEnd = $(textClassName)[0].selectionEnd ;

								let shortcutWord = $(shortcutClassName).val() ;

								text = text.substr(0, selectionStart) + shortcutWord + text.substr(selectionEnd);

								$(textClassName).val(text) ;

								$(textClassName)[0].selectionStart = selectionStart + shortcutWord.length ;
								$(textClassName)[0].selectionEnd = selectionStart + shortcutWord.length ;
							}
						}

						return true ;
					}) ;

					$(textClassName).on("input", function(e) {
						let autoStopWhenEdtingStarted = $("#autoStopWhenEdtingStarted").prop("checked") ;

						if (autoStopWhenEdtingStarted) {
							if (e.originalEvent.data != null) {
								pauseVideo() ;
							}
						}

						$(alreadyEditedCheckBoxClassName).prop("checked", true) ;
					}) ;

					$(textClassName).on("autoheight", function(e) {
						var target = e.target;
						var lineHeight = Number($(target).css("lineHeight").split("px")[0]);

						if (target.scrollHeight > target.offsetHeight) {
							$(target).height(target.scrollHeight + lineHeight);
						} else {
							while (true) {
								$(target).height($(target).height() - lineHeight);

								if (target.scrollHeight > target.offsetHeight) {
									$(target).height(target.scrollHeight + lineHeight);
									break;
								}
							}
						}
					});

					$(textClassName).trigger('autoheight');

					let buttonClassName = "#playStartButton" + Number(i) ;

					$(buttonClassName).on("click", (e) => {
						let offsetTime = Number($("#offsetTimeLength").val()) ;
						seekToVideo(line[0] + offsetTime, true) ;
					}) ;
				}
			}

			function subtitleBlock(index, subtitleData, detailData, offsetTime) {
				let startTime = subtitleData[0] + offsetTime ;
				let endTime = subtitleData[1] + offsetTime ;
				let checked = detailData["edited"] ? "checked" : "" ;

				startTime = secToTime(startTime, ".") ;
				endTime = secToTime(endTime, ".") ;

				return `<tr>
							<td>
								<div class="row p-0">
									<div class="col-auto d-flex align-items-center time">${Number(index) + 1}</div>
									<div class="col-auto d-flex align-items-center p-0"><input class="btn btn-success btn-sm px-1 py-0" id="playStartButton${index}" type="button" value="再生" name="playStartButton${index}" /></div>
									<div class="col-auto d-flex align-items-center time small">${startTime} - ${endTime}</div>
									<div class="col-auto d-flex justify-content-end">
										<div class="form-check">
											<label class="form-check-label small" for="alreadyEditedCheckBox">編集済み</label>
											<input class="form-check-input" type="checkbox" value="" id="alreadyEditedCheckBox${index}" name="alreadyEditedCheckBox${index}" value="" ${checked}>
										</div>
									</div>
								</div>
								<div class="row">
									<textarea id="text${index}">${subtitleData[2]}</textarea>
								</div>
							</td>
						</tr>` ;
			}

			// Local API
			function loadLocalVideo(file) {
				localPlayer = $("#localVideoPreview").get(0) ;

				localPlayer.src = URL.createObjectURL(file) ;	
				
				$("#localVideoPreview").css("display", "initial") ;	

				$("#localVideoPreview").on("timeupdate", function(e) {
					updatePlayingTime(localPlayer.currentTime) ;
				}) ;
			
				$("#localVideoPreview").on("loadedmetadata", function(e) {
					
				});

				$("#videoTitle").text(file.name) ;

				let fileTitle = file.name.split('.').slice(0, -1).join('.')
				$("#appDataFileName").val(fileTitle + ".jimakuEditor") ;

				updatePlayingTime(0) ;
			}

			// YouTube API
			function loadOnlineVideo(videoURL) {
				if (videoURL == "") {
					alert("YouTube動画のURLを入力してください。") ;
					return ;
				}
				
				let videoId = getVideoIdFromYouTubeURL(videoURL) ;

				if (videoId == "") {
					alert("YouTube動画のURLではありません。") ;
					return ;
				}

				if (ytPlayer != null) {
					ytPlayer.destroy() ;
				}

				$("#onlineVideoPreview").css("display", "initial") ;

				ytPlayer = new YT.Player(
					"onlineVideoPreview",
						{
						width: 16*30,
						height: 9*30,
						videoId: videoId,
						
						events: {
							'onReady': onPlayerReady,
							'onStateChange': onPlayerStateChange,
							'onError': onPlayerError
						}
					}
				);
			}

			let playingTimer = null ;

			function onPlayerReady(event) {				
				$("#videoTitle").text(ytPlayer.getVideoData().title) ;
				$("#appDataFileName").val(ytPlayer.getVideoData().title + ".jimakuEditor") ;

				updatePlayingTime(ytPlayer.getCurrentTime()) ;
			}

			function onPlayerStateChange(event) {
				switch (event.data) {
					case YT.PlayerState.ENDED:
						clearTimeout(playingTimer);
						playingTimer = null ;
						console.log("YT.PlayerState.ENDED") ;
						break ;
					case YT.PlayerState.PLAYING:
						clearTimeout(playingTimer);
						playingTimer = setInterval(onPlaying, 200);
						console.log("YT.PlayerState.PLAYING") ;
						break ;
					case YT.PlayerState.PAUSED:
						playerPlaying = false ;
						clearTimeout(playingTimer);
						playingTimer = null ;
						console.log("YT.PlayerState.PAUSED") ;
						break ;
					case YT.PlayerState.BUFFERING:
						console.log("YT.PlayerState.BUFFERING") ;
						break ;
					case YT.PlayerState.CUED:
						console.log("YT.PlayerState.CUED") ;
						break ;
				}
			}

			function onPlaying() {
				updatePlayingTime(ytPlayer.getCurrentTime()) ;
			}

			function onPlayerError(event) {

			}

			function updatePlayingTime(currentTime) {
				$("#videoTime").text(secToTime(Number(currentTime), '.')) ;
			}

			function getVideoIdFromYouTubeURL(url) {
				var parser = new URL(url) ;

				if (parser.hostname == "youtu.be") {
					return parser.pathname ;
				} else {
					if (parser.searchParams.has("v")) {
						return parser.searchParams.get("v") ;
					}
				}

				return "" ;
			}

			// Player wrapper
			function playVideo() {
				if (ytPlayer) {
					return ytPlayer.playVideo() ;
				} else if (localPlayer) {
					return localPlayer.play() ;
				}
			}

			function pauseVideo() {
				if (ytPlayer) {
					return ytPlayer.pauseVideo()
				} else if (localPlayer) {
					return localPlayer.pause() ;
				}
			}

			function isPlayingVideo() {
				if (ytPlayer) {
					return playingTimer != null ;
				} else if (localPlayer) {
					return localPlayer.paused == false ;
				}
			}

			function seekToVideo(time, autoPlay) {
				if (ytPlayer) {
					ytPlayer.seekTo(time) ;
					if (autoPlay) {
						ytPlayer.playVideo() ;
					}
				} else if (localPlayer) {
					localPlayer.currentTime = time ;
					if (autoPlay) {
						localPlayer.play() ;
					}
				}
			}

			function playingGetCurrentTime() {
				if (ytPlayer) {
					return ytPlayer.getCurrentTime();
				} else if (localPlayer) {
					return localPlayer.currentTime ;
				}
			}

			function playingToggle() {
				if (ytPlayer) {
					if (!playingTimer) {
						ytPlayer.playVideo();
					} else {
						ytPlayer.pauseVideo();
					}
				} else if (localPlayer) {
					if (localPlayer.paused) {
						localPlayer.play() ;
					} else {
						localPlayer.pause() ;
					}
				}
			}

			function playingFastForword(sec) {
				if (ytPlayer != null) {
					let currentTime = ytPlayer.getCurrentTime();
					ytPlayer.seekTo(currentTime + sec);
					updatePlayingTime(currentTime + sec) ;
				} else if (localPlayer) {
					let currentTime = localPlayer.currentTime ;
					localPlayer.currentTime = currentTime + sec ;
					updatePlayingTime(currentTime + sec) ;
				}
			}

			function playingRewind(sec) {
				if (ytPlayer != null) {
					let currentTime = ytPlayer.getCurrentTime();
					ytPlayer.seekTo(currentTime - sec);
					updatePlayingTime(currentTime - sec) ;
				} else if (localPlayer) {
					let currentTime = localPlayer.currentTime ;
					localPlayer.currentTime = currentTime - sec ;
					updatePlayingTime(currentTime - sec) ;
				}
			}

			function setPlaybackRate(rate) {
				if (ytPlayer != null) {
					ytPlayer.setPlaybackRate(rate) ;
				} else if (localPlayer) {
					localPlayer.playbackRate = rate ;
				}
			}

			// Shortcut
			function setupShortcuts() {				
				shortcut.add("Meta+Down",function() {
					playingToggle() ;
				});

				shortcut.add("Ctrl+Down",function() {
					playingToggle() ;
				});

				shortcut.add("Meta+Left",function() {
					playingRewind(Number($("#seekingSeconds").val())) ;
				});

				shortcut.add("Ctrl+Left",function() {
					playingRewind(Number($("#seekingSeconds").val())) ;
				});

				shortcut.add("Meta+Right",function() {
					playingFastForword(Number($("#seekingSeconds").val())) ;
				});	
				
				shortcut.add("Ctrl+Right",function() {
					playingFastForword(Number($("#seekingSeconds").val())) ;
				});	
			}

			function restoreSettings() {
				let autoStopWhenEdtingStarted = localStorage.getItem("autoStopWhenEdtingStarted") ;

				if (autoStopWhenEdtingStarted != undefined) {
					$('#autoStopWhenEdtingStarted').prop("checked", autoStopWhenEdtingStarted == "true") ;
				}

				let autoPlayWhenEdtingFinished = localStorage.getItem("autoPlayWhenEdtingFinished") ;

				if (autoPlayWhenEdtingFinished != undefined) {
					$('#autoPlayWhenEdtingFinished').prop("checked", autoPlayWhenEdtingFinished == "true") ;
				}

				let seekingSeconds = localStorage.getItem("seekingSeconds") ;

				if (seekingSeconds != undefined) {
					$('#seekingSeconds').val(seekingSeconds) ;
				}

				let playbackSeconds = localStorage.getItem("playbackSeconds") ;

				if (playbackSeconds != undefined) {
					$('#playbackSeconds').val(playbackSeconds) ;
				}

				let mediaType = "<%= mediaType %>" ;

				// File only
				if (mediaType == "file") {
					let saveAppKey = localStorage.getItem("saveAppKey") ;

					if (saveAppKey != undefined) {
						$('#saveAppKey').prop("checked", saveAppKey == "true") ;
					}

					let acpGrammarFileNames = localStorage.getItem("acpGrammarFileNames") ;

					if (acpGrammarFileNames != undefined) {
						$('#acpGrammarFileNames').val(acpGrammarFileNames) ;
					}

					let acpProfileId = localStorage.getItem("acpProfileId") ;

					if (acpProfileId != undefined) {
						$('#acpProfileId').val(acpProfileId) ;
					}

					let acpAppKey = localStorage.getItem("acpAppKey") ;

					if (acpAppKey != undefined) {
						$('#acpAppKey').val(acpAppKey) ;
					}

					let acpLoggingOptOut = localStorage.getItem("acpLoggingOptOut") ;

					if (acpLoggingOptOut != undefined) {
						$('[name=acpLoggingOptOut]').val(acpLoggingOptOut) ;
					}
				}
			}

			function storeSettings() {

				localStorageSetItem("autoStopWhenEdtingStarted", $('#autoStopWhenEdtingStarted').prop("checked")) ;
				localStorageSetItem("autoPlayWhenEdtingFinished", $('#autoPlayWhenEdtingFinished').prop("checked")) ;

				let mediaType = "<%= mediaType %>" ;

				// File only
				if (mediaType == "file") {
					localStorageSetItem("saveAppKey", $('#saveAppKey').prop("checked")) ;
					localStorageSetItem("acpLoggingOptOut", $('[name=acpLoggingOptOut]').val()) ;
					localStorageSetItem("acpGrammarFileNames", $('#acpGrammarFileNames').val()) ;
					localStorageSetItem("acpProfileId", $('#acpProfileId').val()) ;
					localStorageSetItem("seekingSeconds", $('#seekingSeconds').val()) ;
					localStorageSetItem("playbackSeconds", $('#playbackSeconds').val()) ;

					if ($('#saveAppKey').prop("checked")) {
						localStorageSetItem("acpAppKey", $('#acpAppKey').val()) ;
					} else {
						localStorage.removeItem("acpAppKey") ;
					}
				}

				function localStorageSetItem(key, val) {
					if (val != undefined) {
						localStorage.setItem(key, val) ;
					}
				}
			}

		</script>
	</body>
</html>
