<div class="accordion mb-3" id="accordionSettings">
	<div class="accordion-item">
		  <h2 class="accordion-header" id="settings-menu1-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings-menu1" aria-expanded="true" aria-controls="settings-menu1">
				<%- __("動作設定（クリックして表示／非表示）") %>
			</button>
		  </h2>
		  <div id="settings-menu1" class="accordion-collapse collapse" aria-labelledby="settings-menu1">
			<div class="accordion-body">
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="autoStopWhenEdtingStarted" name="autoStopWhenEdtingStarted" value="" checked>
							<label class="form-check-label" for="autoStopWhenEdtingStarted"><%- __("編集開始時に自動的に再生を停止する") %></label>
							<div class="small ms-3"><%- __("文字が入力されたタイミングで再生を停止します。文字の削除とショートカットキーによる入力では停止しません。") %></div>
						</div>
					</div>
				</div>
				<div class="row mb-3 ms-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="nonStopWhenDotsInput" name="nonStopWhenDotsInput" value="" checked>
							<label class="form-check-label" for="nonStopWhenDotsInput"><%- __("句読点の入力では自動的に再生を停止しない") %></label>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="autoPlayWhenEdtingFinished" name="autoPlayWhenEdtingFinished" value="" checked>
							<label class="form-check-label" for="autoPlayWhenEdtingFinished"><%- __("編集を完了（エンターキー押下）で自動的に再生を開始する") %></label>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<label for="seekingSeconds" class="me-3 col-form-label"><%- __("早戻しと早送りの間隔（秒）") %></label>
					</div>
					<div class="col">				
						<input id="seekingSeconds" name="seekingSeconds" type="text" class="form-control" value="5" placeholder="" aria-label="" style="text-align: right;">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<label for="playbackSeconds" class="me-3 col-form-label"><%- __("再生を再開時に戻す間隔（秒）") %></label>	
					</div>
					<div class="col">	
						<input id="playbackSeconds" name="playbackSeconds" type="text" class="form-control" value="2" placeholder="" aria-label="" style="text-align: right;">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="showPreviewAlways" name="showPreviewAlways" value="">
							<label class="form-check-label" for="showPreviewAlways"><%- __("ハコ割り前でもプレビューを表示する") %></label>
						</div>
					</div>
				</div>
			</div>
		  </div>
	</div>
</div>