<div class="accordion-item">
	<h2 class="accordion-header" id="mainMenu-menu2-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu-menu2" aria-expanded="false" aria-controls="mainMenu-menu2">
			<%- __("ショートカット一覧（クリックして表示／非表示）") %>
		</button>
	</h2>
	<div id="mainMenu-menu2" class="accordion-collapse collapse" aria-labelledby="mainMenu-menu2">
		<div class="accordion-body">
			<div class="row">
				<div class="col-md">
					<div class="card">
						<div class="card-body">
							<strong class="card-title"><%- __("編集時のショートカットキー") %></strong>
							<div class="ms-3">
								<div class="row"><div class="col"><%- __("⌘またはCtrl + ↓") %></div><div class="col"><%- __("再生／停止") %></div></div>
								<div class="row"><div class="col"><%- __("⌘またはCtrl + ←") %></div><div class="col"><%- __("指定秒戻す") %></div></div>
								<div class="row"><div class="col"><%- __("⌘またはCtrl + →") %></div><div class="col"><%- __("指定秒送る") %></div></div>
								<div class="row"><div class="col"><%- __("Enter") %></div><div class="col"><%- __("次の字幕データへ移動") %></div></div>
								<div class="row"><div class="col"><%- __("⌘またはCtrl + Enter") %></div><div class="col"><%- __("改行") %></div></div>
								<div class="row"><div class="col"><%- __("⌘またはCtrl + ↑") %></div><div class="col"><%- __("この時間の字幕を表示") %></div></div>
							</div>
						</div>
					</div>		
				</div>
				<div class="col-md">
					<div class="row">
						<div class="col p-1">
							<div class="input-group">
								<label for="shortcutWord1" class="me-3 col-form-label"><span class="small ms-3">F1</span></label>
								<input id="shortcutWord1" name="shortcutWord1" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>
						<div class="col p-1">
							<div class="input-group">
								<label for="shortcutWord2" class="me-3 col-form-label"><span class="small ms-3">F2</span></label>
								<input id="shortcutWord2" name="shortcutWord2" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col p-1">
							<div class="input-group">
								<label for="shortcutWord3" class="me-3 col-form-label"><span class="small ms-3">F3</span></label>
								<input id="shortcutWord3" name="shortcutWord3" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>
						<div class="col p-1">
							<div class="input-group">
								<label for="shortcutWord4" class="me-3 col-form-label"><span class="small ms-3">F4</span></label>
								<input id="shortcutWord4" name="shortcutWord4" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>
					</div><div class="row">
						<div class="col p-1">
							<div class="input-group">
								<label for="shortcutWord5" class="me-3 col-form-label"><span class="small ms-3">F5</span></label>
								<input id="shortcutWord5" name="shortcutWord5" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>
						<div class="col p-1">
							<div class="input-group">
								<label for="shortcutWord6" class="me-3 col-form-label"><span class="small ms-3">F6</span></label>
								<input id="shortcutWord6" name="shortcutWord6" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>