<div class="row mb-3">
	<div class="col-auto">
		<button class="btn btn-primary btn-sm wide-btn" id="speechRecognitionButton" type="button" value="" name="speechRecognitionButton"><%- __("音声認識結果を取得") %></button>
		<div id="toRunSpeechRecognitionSpinner"></div>
	</div>
	<div class="col-auto">
		<div><%- __("接続エンジン名") %> : </span><span id="acpGrammarFileNamesLabel"></div>
		<div><%- __("選択中の公開辞書1") %> : </span><span id="publicDictionaryLabel1"></div>
		<div><%- __("選択中の公開辞書2") %> : </span><span id="publicDictionaryLabel2"></div>
	</div>
</div>

<div class="accordion" id="accordionSettings">
	<div class="accordion-item">
		<h2 class="accordion-header" id="settings-menu2-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings-menu2" aria-expanded="false" aria-controls="settings-menu2">
				<%- __("音声認識設定（クリックして表示／非表示）") %>
			</button>
		</h2>
		<div id="settings-menu2" class="accordion-collapse collapse" aria-labelledby="settings-menu2">
			<div class="accordion-body">
				<div class="row small mb-3">
					<div class="col">
						<div class="mb-3"><%- __("音声認識API<a href='%s' target='_blank' rel='noopener'>AmiVoice Cloud Platform</a>のAmiVoice APIを使用して音声認識の結果を取得します。", "https://acp.amivoice.com") %></div>
						<div class="mb-3">
							<div><%- __("読み込んだ動画または音声ファイルに対して音声認識処理を行いテキスト化します。動画の場合はブラウザ上で音声を抽出しサーバーにアップロードします。") %></div>
							<div><%- __("音声認識APIのご利用は有料となります（※毎月60分無料枠があるのでお試しいただけます）") %></div>
						</div>
						<div class="mb-3"><%- __("①AmiVoice Cloud Platformのページを開き右上のメニューからサービスを開き「AmiVoice API」をクリックします。初めての方は「無料で利用を開始」で始めてください。既にご利用の方はマイページを開きます。") %></div>
						<div class="mb-3"><%- __("②左のメニューの「接続情報」をクリックし「APPKEY」に表示されている文字列をコピーします。このAPPKEYはとても重要な情報なので取り扱いにはご注意ください。") %></div>
						<div class="mb-3"><%- __("③「字幕エディター」に戻り「音声認識設定」の「APPKEY」にペーストします。APPKEYをブラウザに保存しておきたいときは「APPKEYをブラウザに保存する」にチェックを入れてください。") %></div>
						<div class="mb-3"><%- __("④AmiVoice Cloud Platformのご利用内容に応じて「接続エンジン名」の設定を変更できます。初期値は「会話_汎用」が設定されています。") %></div>
						<div class="mb-3"><%- __("⑤音声認識サーバーで「ログ保存あり」または「ログ保存なし」を選択します。内容の機密性に応じて選択してご利用ください。") %></div>
						<div class="mb-3"><%- __("⑥「音声認識結果を取得」ボタンを押します。ファイルの長さによっては時間はかかりますが、ページを閉じないでしばらくお待ちください。音声認識が完了すると右側に認識結果が表示されます。") %></div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="h4"><%- __("APPKEY") %></div>
						<input id="acpAppKey" name="acpAppKey" type="text" class="form-control" value="" placeholder="" aria-label="">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="saveAppKey" name="saveAppKey" value="" checked>
							<label class="form-check-label" for="saveAppKey"><%- __("APPKEYをブラウザに保存する") %></label>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="h4"><%- __("UDトークの公開辞書") %></div>		
						<div class="row mb-3">
							<div class="small ms-3"><%- __("<a href='%s' target='_blank' rel='noopener'>UDトーク単語登録</a>で作成した公開辞書を選択して読み込むことができます。", "https://words.udtalk.jp") %></div>
							<div class="small ms-3"><%- __("単語登録画面でアクセストークンを生成してセットすると作成済みの公開辞書をプルダウンで選択して音声認識することができます。") %></div>
						</div>
	
						<div class="row mb-3">
							<div class="col">
								<div><%- __("アクセストークン") %></div>								
								<input id="accessToken" name="accessToken" type="text" class="form-control" value="" placeholder="" aria-label="">
							</div>
						</div>

						<div class="row mb-3">
							<div class="col">
								<div><%- __("辞書を選択（2つ選択できます）") %></div>
								<select class="form-select mb-1" id="publicDictionariesSelect1">
											
								</select>
								<select class="form-select" id="publicDictionariesSelect2">
											
								</select>
							</div>
						</div>
					</div>
				</div>	

				<div class="row mb-3">
					<div class="col">
						<div class="h4"><%- __("単語登録") %></div>

						<div class="row mb-3">
							<div class="col mb-1">
								<textarea id="acpProfileWords" name="acpProfileWords" class="form-control" aria-label=""></textarea>
								<div class="small ms-3"><%- __("書き表記,[またはタブ]読み表記[改行]を繰り返して入力してください。") %></div>
								<div class="small ms-3"><%- __("読み表記はひらがなかカタカナで入力してください。") %></div>
								<div class="small ms-3"><%- __("ひらがなやカタカナのみの書き表記の場合も読み表記を入力してください。") %></div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-auto mb-1">											
								<input class="btn btn-primary btn-sm cmn-btn" id="saveAcpWordDataButton" type="button" value="<%- __("単語を保存") %>" name="saveAcpWordDataButton" />
							</div>
							<div class="col mb-1">
								<input id="acpWordDataFileName" name="acpWordDataFileName" type="text" class="form-control btn-sm" value="" placeholder="<%- __("ファイル名") %>" aria-label="">
							</div>
						</div>
						
						<div class="row mb-3">
							<div class="col mb-1">
								<div class="small ms-3"><%- __("保存先に同じファイル名がある場合はブラウザが自動的にリネームをして保存します。") %></div>
							</div>
						</div>
							
						<div class="row">
							<div class="col-auto mb-1">
								<input class="btn btn-primary btn-sm cmn-btn" id="loadAcpWordDataButton" type="button" value="<%- __("ファイルを選択") %>" name="loadAcpWordDataButton" />
								<input class="form-control" id="acpWordDataFile" type="file" accept=".txt, .csv, .tsv" style="display:none;"/>	
							</div>
						</div>
						
						<div class="row">
							<div class="col mb-1">
								<div class="small ms-3"><%- __("保存した単語を読み込みます。以前の内容はクリアされるので変更した場合は保存をしてから読み込んでください。") %></div>
							</div>
						</div>
					</div>
				</div>		
				<div class="row mb-3">
					<div class="col">
						<div class="h4"><%- __("接続エンジン名") %></div>
						<select class="form-select" id="acpGrammarFileNameSelect">
							<option value="-a-general" selected><%- __("会話_汎用") %></option>
							<option value="-a-general-en"><%- __("英語_汎用") %></option>
							<option value="-a-general-ko"><%- __("韓国語_汎用") %></option>
							<option value="-a-general-zh"><%- __("中国語_汎用") %></option>
							<option value="-a-medgeneral"><%- __("会話_医療") %></option>
							<option value="-a-bizmrreport"><%- __("会話_製薬") %></option>
							<option value="-a-bizfinance"><%- __("会話_金融") %></option>
							<option value="-a-bizinsurance"><%- __("会話_保険") %></option>
						</select>
						<div class="small ms-3"><%- __("音声認識エンジンはAmiVoice Cloud Platformのマイページ内の「プラン申込」で行うことができます。価格もそちらでご確認ください。") %></div>
					</div>
				</div>		
				<div class="row mb-3">
					<div class="col-sm">
						<div class="h4"><%- __("オプション設定") %></div>
						<select class="form-select" id="acpLoggingOptOut" name="acpLoggingOptOut" aria-label="<%- __("オプション設定") %>">
							<option value="0" selected><%- __("ログ保存あり") %></option>
							<option value="1"><%- __("ログ保存なし") %></option>
						</select>
						<div class="small ms-3"><%- __("ログ保存ありとなしで価格が異なります。詳しくはAmiVoice Cloud Platformのマイページ内でご確認ください。") %></div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="ignoreReplyToken" name="ignoreReplyToken" value="" checked>
							<label class="form-check-label" for="acpDiarization"><%- __("「はい」「うん」などの相槌をカットする（日本語のみ）") %></label>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="acpDiarization" name="acpDiarization" value="">
							<label class="form-check-label" for="acpDiarization"><%- __("話者識別を行う") %></label>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="col">
						<label for="acpDiarizationCount" class="mx-3"><%- __("識別する人数") %></label>	
						<div class="small ms-3"><%- __("音声認識と同時に最大で10人の話者を識別して表示します。") %></div>
					</div>
					<div class="col">	
						<input id="acpDiarizationCount" name="acpDiarizationCount" type="text" class="form-control" value="10" placeholder="" aria-label="" style="text-align: right;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>