<div class="accordion" id="accordionSettings">
    <div class="accordion-item">
        <h2 class="accordion-header" id="settings-menu2-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings-menu2" aria-expanded="false" aria-controls="settings-menu2">
                <%- __("音声認識設定（クリックして表示／非表示）") %>
            </button>
        </h2>
        <div id="settings-menu2" class="accordion-collapse collapse" aria-labelledby="settings-menu2">
            <div class="accordion-body">
                <div class="row small mb-3">
                    <div class="col">
                        <div class="mb-3"><%- __("音声認識API<a href='%s' target='_blank' rel='noopener'>AmiVoice Cloud Platform</a>を使用して音声認識の結果を取得します。", "https://acp.amivoice.com/main/") %></div>
                        <div class="mb-3">
                            <div><%- __("読み込んだ動画または音声ファイルに対して音声認識処理を行いテキスト化します。動画の場合はブラウザ上で音声を抽出しサーバーにアップロードします。") %></div>
                            <div><%- __("音声認識APIのご利用は有料となります（※毎月60分無料枠があるのでお試しいただけます）") %></div>
                        </div>
                        <div class="mb-3"><%- __("①AmiVoice Cloud Platformのページを開き「無料で利用開始」をクリックしログインしてください。既にご利用の方はマイページを開きます。") %></div>
                        <div class="mb-3"><%- __("②左のメニューの「接続情報」をクリックし「APPKEY」に表示されている文字列をコピーします。このAPPKEYはとても重要な情報なので取り扱いにはご注意ください。") %></div>
                        <div class="mb-3"><%- __("③「字幕エディター」に戻り「音声認識設定」の「APPKEY」にペーストします。APPKEYをブラウザに保存しておきたいときは「APPKEYをブラウザに保存する」にチェックを入れてください。") %></div>
                        <div class="mb-3"><%- __("④AmiVoice Cloud Platformのご利用内容に応じて「接続エンジン名」の設定を変更できます。初期値は「会話_汎用」が設定されています。") %></div>
                        <div class="mb-3"><%- __("⑤音声認識サーバーで「ログ保存あり」または「ログ保存なし」を選択します。内容の機密性に応じて選択してご利用ください。") %></div>
                        <div class="mb-3"><%- __("⑥「音声認識結果を取得」ボタンを押します。ファイルの長さによっては時間はかかりますが、ページを閉じないでしばらくお待ちください。音声認識が完了すると右側に認識結果が表示されます。") %></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div><%- __("APPKEY") %></div>
                        <input id="acpAppKey" name="acpAppKey" type="password" class="form-control" value="" placeholder="" autocomplete="new-password" aria-label="">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="saveAppKey" name="saveAppKey" value="" checked>
                            <label class="form-check-label" for="saveAppKey"><%- __("APPKEYをブラウザに保存する") %></label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div><%- __("サービスID") %></div>											
                        <input id="acpProfileId" name="acpProfileId" type="text" class="form-control" value="" placeholder="" aria-label="">
                        <div class="small ms-3"><%- __("サービスIDを指定するとAmiVoice Cloud Platform上での単語登録が有効になります。") %></div>
                    </div>
                </div>		
                <div class="row mb-3">
                    <div class="col">
                        <div><%- __("接続エンジン名") %></div>
                        <select class="form-select" id="acpGrammarFileNameSelect">
                            <option value="-a-general" selected><%- __("会話_汎用") %></option>
                            <option value="-a-general-en"><%- __("英語_汎用") %></option>
                            <option value="-a-general-zh"><%- __("中国語_汎用") %></option>
                            <option value="-a-medgeneral"><%- __("会話_医療") %></option>
                            <option value="-a-bizmrreport"><%- __("会話_製薬") %></option>
                            <option value="-a-bizfinance"><%- __("会話_金融") %></option>
                            <option value="-a-bizinsurance"><%- __("会話_保険") %></option>
                        </select>
                        <div class="small ms-3"><%- __("音声認識エンジンはAmiVoice Cloud Platformのマイページ内の「プラン申込」で行うことができます。価格もそちらでご確認ください。") %></div>
                    </div>
                </div>		
                <div class="row mb-3">
                    <div class="col-sm">
                        <div><%- __("音声認識API") %></div>
                        <select class="form-select" id="acpLoggingOptOut" name="acpLoggingOptOut" aria-label="<%- __("音声認識API") %>">
                            <option value="0" selected><%- __("ログ保存あり") %></option>
                            <option value="1"><%- __("ログ保存なし") %></option>
                        </select>
                        <div class="small ms-3"><%- __("ログ保存ありとなしで価格が異なります。詳しくはAmiVoice Cloud Platformのマイページ内でご確認ください。") %></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="acpDiarization" name="acpDiarization" value="">
                            <label class="form-check-label" for="acpDiarization"><%- __("話者識別を行う") %></label>
                        </div>
                        <div class="small ms-3"><%- __("音声認識と同時に最大で10人の話者を識別して表示します。") %></div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</div>